body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.flexible{
    display: flex;
    margin: 30px;
}
.two-hed{
    font-size: 30px;
}
.orangered{
    color: orangered;
}

.section1-firstdiv{
    width: 100%;
    margin: 20px;
    padding: 10px;
}
.img{
    width: 100%;
    background-position: right;
    margin: 20px;
    padding: 10px;
    
}
#first-image{
    width: 40%;
}
.center{
    text-align: center;
    font-size: 50px;
   
}
.one-third1{
    width: 33%;
    background-color: powderblue;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
}
.one-third2{
    width: 33%;
    background-color:gray;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
}
.one-third3{
    width: 33%;
    background-color:darkgrey;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
}
.illustrator{
   width: 50%;
   height: 50%; 
}
