body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.flexible{
    display: flex;
}
.two-hed{
    font-size: 30px;
}
.orangered{
    color: orangered;
}

.section1-firstdiv{
    width: 100%;
    margin: 20px;
    padding: 10px;
}
.img{
    width: 100%;
    background-position: right;
    margin: 20px;
    padding: 10px;
    
}
#first-image{
    width: 40%;
}
